* {
    border: none;
    border-radius: 0;
    font-family: IBM Plex Mono Medium;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #101010;
    color: white;
}

tooltip {
  background: #101010;
  border: 1px solid #327bd1;
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: #101010;
    color: white;
}

#workspaces button.focused {
    background: #1c1c1c;
    border-bottom: 2px solid #327bd1;
}

#workspaces button.active {
    background: #1c1c1c;
    border-bottom: 2px solid #327bd1;
}

#pulseaudio {
	padding-right: 10px
}

#clock {
	padding-right: 10px
}

#tray {
	padding-right: 10px
}

